<body>
  	<% include header.ejs %>
    <h1><%= title %></h1>    
    <div class="content">
        <div class="container-fluid">
            <div class="row">                                                
                <div class="col-md-6">
                    <div class="card">
                        <form method="post" action="" class="form-horizontal">   
                            <div class="card-content">
                                <div class="row">
                                    <label class="col-sm-2 label-on-left">Position</label>
                                    <div class="col-sm-4">
                                        <div class="form-group label-floating is-empty">
                                            <label class="control-label"></label>
                                            <input type="text" class="form-control" name="position" value="">
                                        </div>
                                    </div>
                                    <label class="col-sm-2 label-on-left">Name</label>
                                    <div class="col-sm-4">
                                        <div class="form-group label-floating is-empty">
                                            <label class="control-label"></label>
                                            <input type="text" class="form-control" name="name" value="">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="col-sm-2 label-on-left">Weight</label>
                                    <div class="col-sm-4">
                                        <div class="form-group label-floating is-empty">
                                            <label class="control-label"></label>
                                            <input type="text" class="form-control" name="weight" value="">
                                        </div>
                                    </div>
                                    <label class="col-sm-2 label-on-left">Height</label>
                                    <div class="col-sm-4">
                                        <div class="form-group label-floating is-empty">
                                            <label class="control-label"></label>
                                            <input type="text" class="form-control" name="height" value="">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="col-sm-2 label-on-left">Birth Place</label>
                                    <div class="col-sm-4">
                                        <div class="form-group label-floating is-empty">
                                            <label class="control-label"></label>
                                            <input type="text" class="form-control" name="birthplace" value="">
                                        </div>
                                    </div>
                                    <label class="col-sm-2 label-on-left">Age</label>
                                    <div class="col-sm-4">
                                        <div class="form-group label-floating is-empty">
                                            <label class="control-label"></label>
                                            <input type="text" class="form-control" name="age" value="">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="col-sm-2 label-on-left">Number</label>
                                    <div class="col-sm-4">
                                        <div class="form-group label-floating is-empty">
                                            <label class="control-label"></label>
                                            <input type="text" class="form-control" name="number" value="">
                                        </div>
                                    </div>
                                    <label class="col-sm-2 label-on-left">Birth Date</label>
                                    <div class="col-sm-4">
                                        <div class="form-group label-floating is-empty">
                                            <label class="control-label"></label>
                                            <input type="text" class="form-control" name="birthdate" value="">
                                        </div>
                                    </div>
                                </div>
                                
                               
                                <div class="row">
                                    <div class="col-sm-5">
                                        <input type="submit" name="submit" value="Save">
                                    </div>
                                </div>   
                            </div>
                        </form>
                    </div>
                </div>                        
            </div>
        </div>
    </div>
</body>
</html>